@CHARSET "ISO-8859-1";

div#sidebarlinks {
    	float: left; 
    	width: 150px; 
    	height: 560px;
    	background: #FFEFD5; 
    	padding: 15px 10px 15px 20px; 
    }
div#sidebarrechts {
    	float: right; 
    	width: 160px; 
    	height: 560px;
    	background: #FFEFD5; 
    	padding: 15px 10px 15px 20px; 
    }
div#mitteoben { 
		float : center;
    	margin: 10px 400px; 
    	padding: 10px 10px; 
    }
div#mitteunten { 
		float : center;
    	margin: 10px 400px; 
    	padding: 80px 10px; 
    }