@CHARSET "ISO-8859-1";
* { padding: 0; margin: 0; } /* alle Abstände innen und Außen auf Null setzten */
							 /* Bringt laut LittleBoxes-DVD(Video2Brain) vorteile mit sich */
							 /* Man muss aber auf die eigene Formatierung acht geben da sonst alles */
							 /* aneinander klebt --> padding = innenAbstand margin = Außenabstand */
body {
		background-color: #353535;		/* Dunkles Grau im Hex-Code */
	}
p {
	margin: 1em;
	padding: 1em;
}
div#sidebarlinks {
    	float: left; 
    	width: 200px; 
    	height: 560px;
    	background: #FFEFD5; 
    	padding: 15px 0px 15px 30px;   /*Definition des Innenabstandes Oben-Rechts-Unten-Links  */	
    }
div#sidebarrechts {
    	float: right; 
    	width: 200px; 
    	height: 560px;
    	background: #FFEFD5; 
    	padding: 15px 0px 15px 15px;  /*Definition des Innenabstandes Oben-Rechts-Unten-Links  */
    }
div#mitte { 
		align: center;
		width: 700px; 					/*Definition des Inahltbereiches (Breite) */			
		height: 570px;					/*Definition des Inahltbereiches (Breite) 570 */
    	margin: auto 300px; 
    	padding: 10px 10px; 
    }
div#wrapper {							/* Zentrierung der ganzen Seite mit einer grösse von 1024 px */
		background-color: lightblue;	/* background-color ist solange lightblue bis was anders definiert wird */
		width: 1024px;
		margin: 10px auto;
	}    